*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section{
  background-color: beige;
  color: aliceblue;
  padding: 50px 20px;
  text-align: center ;
}

.hero-content h1{
  font-size: 3rem;
  margin-bottom: 20px;
  text-decoration: ;
}